.body {
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 60% 1fr 10%;
    background-image: url(/chat/client/assets/img/fone.jpg);
    background-size: cover;
    height: 100vh;
    
}
.form{
    background-color: white;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 450px;
    height: 80vh;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}
#yourName,
#email,
#userName,
#password,
#password2{
    margin: 5%;
    width: 370px;
} 

#button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color:rgb(48, 174, 212);
}
#button:hover{
    background-color:rgba(48, 174, 212, 0.5);
}
