@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

$body-bg-color: #DAAFFC;
$chat-bg-color: #fff;
$font-size: 16px;
$font-color: #2f2f2f;
$font-color-muted: #afafaf;
$standard-padding: 20px 15px;
$standard-radius: 20px;
$border-radius: 16px 16px 0px 16px;

html, body, h1, h2, h3, h4, h5, h6, p, ul, li, button {
  padding: 0;
  margin: 0;
}

html, body, .flexbox {
  width: 100%;
  height: 100%;
}

body {
  color: $font-color;
  font-family: ABeeZee, sans-serif;
  font-size: $font-size;
}

.flexbox {
  background-color: $body-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  background-color: $chat-bg-color;
  margin: 20px;
  width: 100%;
  height: 100%;
  max-height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  border-radius: $standard-radius;
  box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.5);
  > .chat-box-header {
    width: 100%;
    padding: $standard-padding;
    box-sizing: border-box;
    display: flex;
    background: linear-gradient(132.57deg, #DAAFFC 2.92%, #AA55EE 95.18%);
    border-radius: 0px 0px 8px 8px;
  .header-content{
margin-left: 130px;
img {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border-radius: 50%;
}
    }
.icon-receiver{
  margin: auto;
  height: 30px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: all .3s ease-in;
  }
}
  }
  > .chat-box-body {
    height: 100%;
    display: flex;
    overflow: auto;
    display: flex;
    flex-direction: column;
    #chat_messages {
      width: 100%;
      padding: $standard-padding;
      margin-top: auto;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .date{
        margin: auto;
        padding: $standard-padding;
      }
      .message {
        width: 80%;
        padding: $standard-padding;
        margin: 2px 0;
        overflow: hidden;
        border-radius: $border-radius;
        transition: height 0.3s ease-in-out;
        &.hide {
          height: 0;
        }
      }
      .my-message {
        color: #fff;
        background-color: #AA55EE;
        align-self: flex-end;
      }
      .other-message {
        background-color: #e2e2e2;
      }
      .profile {
        margin: 2px 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        &.hide {
          height: 0;
        }
        img {
          display: inline-block;
          margin: 0;
          padding: 0;
          vertical-align: middle;
          border-radius: 50%;
        }
      }
      .my-profile {
        color: $font-color-muted;
        align-self: flex-end;
      }
      .other-profile {
        color: $font-color-muted;
      }
    }
  }
  #typing {
    color: $chat-bg-color;
    width: 100%;
    height: 0;
    padding: 0 15px;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.3s height ease-in-out, 0.3s opacity ease-in-out;
    &.active {
      height: 80px;
      opacity: 1;
    }
    span:not(.n) {
      background-color: $chat-bg-color;
      width: 10px;
      height: 10px;
      margin-top: 20px;
      display: inline-block;
      border-radius: none;
      &:nth-child(1) {
        animation: typing 1.2s infinite;
      }
      &:nth-child(2) {
        animation: typing 1.2s infinite 0.1s;
      }
      &:nth-child(3) {
        animation: typing 1.2s infinite 0.2s;
      }
    }
  }
  > .chat-box-footer {
    width: 100%;
    padding: $standard-padding;
    border-top: solid 1px #cfcfcf;
    box-sizing: border-box;
    display: flex;
    img {
          display: inline-block;
         padding: 15px 10px;
          width: 24px;
          height: 24px;
          cursor: pointer;
    }
    > #chat_input {
      color: $font-color;
      font-family: Raleway, sans-serif;
      font-size: $font-size;
      background-color:  #d2d2d2;
      width: 80%;
      height: 60px;
      max-height: 120px;
      border: none;
      padding: 10px 15px;
      resize: none;
      box-sizing: border-box;
      border-radius: $standard-radius;
      transition: 0.3s background-color;
      &:focus {
        background-color: #efefef;
      }
    }
    > #send {
      background:$chat-bg-color;
      border: none;
      margin-left: 5px;
      padding: 5px;
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        transform: scale(1.1);
        transition: all .3s ease-in;
      }
    }
  }
}

@media (min-width: 480px) {
  .chat-box {
    width: 480px;
  }
}

@keyframes typing {
  0% { transform: translateY(0px); }
  33.3333% { transform: translateY(-5px); }
  66.6667% { transform: translateY(5px); }
  100% { transform: translateY(0px); }
}


button {
  outline: none;
}

h3 > small {
  color: $font-color-muted;
  font-weight: normal;
}
//стилизация формы 
.chat-form{
  display: flex;
  flex-direction: column;

>.chat-form-avatar{
  margin-top: 30%;
  margin-left: 150px;
  cursor: pointer;
  display: flex;
  >#my-button{
    align-self: end;
    position:relative;
    overflow:hidden;
    }
    #file-button{
    filter:alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    cursor:pointer;
    font-size:72px;
    position:absolute;
    right:0;
    }
}
>.chat-form-input{ 
  display: grid; 

.form-input{
  border-radius: $standard-radius;
  margin: 10px;
  padding: 15px;
  width: 70%;
  justify-self: center;
  background-color: #e2e2e2;
  border: none;
}
}
.chat-form-btn{
  background-color: #AA55EE;
  border-radius: $standard-radius;
  margin: auto;
  width: 70%;
  padding: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 27px;
  font-size: large;

}
}

/* EmojiBox */
.emojiBox{
  width: 150px;
  margin: 30px;
}
.emojiBox .box{
  height: 100px;
  padding: 4px;
}